<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li> <%= link_to '担保交易 create_partner_trade_by_buyer', new_service_create_partner_trade_by_buyer_path %> </li>
  <li class="active">Return</li>
</ol>

<dl>
  <dt>Verify?</dt>
  <dd><%= @verify %></dd>
  <dt>Params</dt>
  <dd>
    <pre>
      <%= JSON.pretty_generate params %>
    </pre>
  </dd>
</dl>
